.project {
    max-width: 1280px;
    min-width: 320px;
    min-height: 560px;
    background-color: #DDDEE3;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page__project {
    margin: 0 auto;
}

.project__header {
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    max-width: 626px;
    min-height: 104px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    margin: 50px 0 0 70px;
    letter-spacing: -0.04em;
    padding: 0;
}

.landing-logo {
    max-width: 722px;
    max-height: 244px;
    align-self: flex-end;
    padding: 102px 70px 0 0;
}

@media screen and (max-width: 870px) {

    .project {
        align-items: center;
        min-height: 844px;
    }

    .project__header {
        text-align: center;
        margin: 300px 0 140px ;
    }

    .landing-logo {
        max-width: 680px;
        max-height: 230px;
        align-self: center;
        padding: 0;
    }

}

@media screen and (max-width: 545px) {
    .project {
        min-height: 630px;
    }

    .project__header {
        text-align: center;
        margin: 183px 0 60px ;
        font-size: 31px;
        line-height: 1.2581;
        max-width: 300px;
    }

    .landing-logo {
        max-width: 680px;
        max-height: 230px;
        align-self: center;
        padding: 0;
    }

}